<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="description"
	content="Burair Kothari Personal, Teaching and Research Information" />
    <meta name="keywords"
	content="Burair Kothari Physics Mathematics Providence Rochester Columbia New York City Rhode Island RI NY IN CA Indiana Bloomington Georgia Southern Statesboro Los Angeles Pierce College Vitae Teaching Research About" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" href="{{  "/assets/img/icons/favicon.ico" | relative_url }}" type="image/x-icon" >
  <link rel="shortcut icon" href="{{  "/assets/img/icons/favicon.ico" | relative_url }}"  type="image/x-icon" >
  <link rel="shortcut icon" href="{{  "/assets/img/icons/favicon.png" | relative_url }}"type="image/x-png" >
  <link rel="apple-touch-icon" href="{{  "/assets/img/icons/apple-touch-icon2.png" | relative_url }}" >
    {% include head.html %}
  </head>
  <body id="page-top">
    {{ content }}
    {% include footer.html %}
  </body>
</html>
